<div class="register_form_wrapper">
  {% comment %}{formbuilder:20207}
    <h1 class="account__auth-wrapper-heading type-heading-display">{{ 'customer.register.title' | t }}</h1>
    {% endcomment %}
  
  <div class="register-form-section">
    <div class="register-wrapper">
      <div class="register-left">
          <div class="register-img" style="background-image:url({{ 'register-banner.jpg' | asset_url | '950x' }})">
          </div>
         {% comment %} <span class="register-note">*You will receive a code to redeem for £20 off your first order once you register your account.</span> {% endcomment %}
      </div>   
      <div class="register-right">
          <div class="register-form-box">
            {% render "customer-fields", form_id: "qOtmGe" %} 
          </div>
      </div>
    </div>
    
  </div>

</div>

<style>
    .register_form_wrapper{
      background-color: #ffffff;
      color: #000000;
    }
    .register-form-section{
      padding-top:0;
    }
    .register-wrapper{
      margin: 0;
      padding-left: 50%;
      height:1200px;
    }
    .register-left{
      width: 50%;
    }
    .register-left .register-img{
      height: 1200px;
      background-position: center;
    }
    .register-form-section .cf-form-inner .cf-form-actions .btn{
      position: relative;
      left:0;
      bottom:0;
      transform: unset;
      background-color: #00453f;
      max-width: unset;
      height: 45px;
    }
    .cf-field>label{
      padding-bottom: 10px;
    }
    .register-right{
      padding:30px 50px;
    }
    
    @media screen and (max-width: 767px){
      .register-wrapper{
        height: unset;
        padding-left: 0;
        padding-top: 0;
      }
      .register-left{
        width: 100%;
      }
      .register-left .register-img{
        height: 380px;
      }
    }
    @media screen and (max-width: 520px){
      .register-wrapper{
        padding-top: 0;
      }
      .register-left .register-img{
        height: 380px;
      }
    }
</style>