<div class="how-to-sell">
    <div class="how-to-sell-wrapper">
        <h1>How to sell</h1>
        <div class="how-to-sell-contents">
            <div class="hts_1 hts_content">
                <img src="{{ '1.svg' | asset_url }}">
                <p class="small_number">01</p>
                <p class="hts_content_copy">Go to our step-by-step form to submit all the details you can on the item you would like to have valued for sale</p>
            </div>
            <div class="hts_2 hts_content">
                <img src="{{ '2.svg' | asset_url }}">
                <p class="small_number">02</p>
                <p class="hts_content_copy">Upload images that are the highest resolution you can produce: all angles, close-up, including any distinguishing marks, or any flaws. Keep your background neutral, so as not to distract from the item.</p>
            </div>
            <div class="hts_3 hts_content">
                <img src="{{ '3.svg' | asset_url }}">
                <p class="small_number">03</p>
                <p class="hts_content_copy">We will then contact you with our valuation, and what we will do from there. If we feel that it fits in well with the current offering on Omneque, we will add it to our collections [need to work through appropriate words here]</p>
            </div>
        </div>
        <a href="#">HOW TO SELL</a>
    </div>
</div>