<div class="temp_text_section">
    <div class="inner-container">
    <div class="temp_text_header">
        <h2>We seek out precious jewels, created in years past, worn now</h2>
    </div>
    <div class="temp_main_text">
        <div class="temp_imagination">
            <h4>imagination</h4>
            <p>The life of a period piece never ends. Each time it changes hands a new chapter begins; a fresh page opens; and it’s your turn to continue to write its story.</p>

        </div>
        <div class="temp_craftmanship">
            <h4>craftsmanship</h4>
            <p>Fine examples of vintage and modern always sit well together. Here, we also celebrate the designers of today, whose jewellery can still feel warm from the making. After all, imagination, craftsmanship and fine materials are ageless.</p>

        </div>
        <div class="temp_ourexperts">
            <h4>our experts</h4>
            <p>Each piece here at Omnēque has been under the eyes of two leading ladies of the jewellery world: Joanna Hardy and Vivienne Becker. Passionate, discerning and bordering on obsessive, they are highly respected, with as much as 80 years’ experience in this world of jewels between them (N.B., they started young).</p>
        </div>
    </div>
    </div>
</div>


{% schema %}
  {
    "name": "Temp Text",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Collection list"
      }
    ],
    "presets": [
      {
        "name": "Temp Text",
        "category": "Text"
      }
    ]
  }
{% endschema %}