<div id="home" data-component="home">
  {{ content_for_index }}
</div>
<div id="insta-secton-wrapper">
  <div id="insta-section">
    <p style="color:#ffffff;margin:0;">FOLLOW US ON SOCIAL</p>
    <h1 style="color:#fdad9a;font-size: 30px; margin-top: 5px;">@OmnequeOfficial</h1>
    <div id="insta-feed"></div>
  </div>
</div>
