<div class="stonebar-page">
  <div class="stonebar-banner">
    <img src="{{ 'stonebar-banner.jpg' | asset_url }}"/>
  </div>
  <div class="inner-container">
    <div class="stonebar-container stonebar-intro">
      <div class="stonebar-container-half">
        <h4>The Omnēque Stone Vault</h4>
        <h2>An Exclusive Selection of Loose Gemstones</h2>
        <!-- <a href="/collections/stone-vault" class="button_link">Shop Now</a> -->
      </div>
      <div class="stonebar-container-half">
        <p>Hand-picked; carefully curated. These stones have been especially selected and authenticated by gemmologist Joanna Hardy. Find your special stone. In addition, why not curate your own unique design, supported by Joanna, as part of the Stone Vault’s bespoke service? It’s time to go on a journey of discovery through these special and extraordinary gems.</p>
      </div> 
    </div>
  </div> 
  
  {% section 'stonebar-carousel' %}
  {% section 'customized-featured-stones' %}
  
  
  <div class="inner-container">
    <h4 class="stonebar_quote">
      "Choosing a stone from the Stone Vault is an opportunity to fall in love with a stone with the reassurance that it has been checked by me. Every Stone is unique as nature does not make copies. Often, it is only the 'Big Five' - diamond, ruby, emerald, sapphire and pearl - that we are told should gain our attention, but there is a whole host of other minerals that are equally mesmerising which would look stunning in a piece of jewellery or indeed be included in a stone"
    </h4>
    <p class="stonebar_author_name">Joanna Hardy</p>
  </div>

  <div class="stonebar-outer-container">
    <div class="inner-container">
      <div class="stonebar-container stonebar-main">
        <div class="stonebar-container-half">
          <feature class="stonebar_image_wrapper">
            <img src="{{'Joey_mine.jpg' | asset_url}}">
          </feature>
          <p class="image_desc">Joanna Hardy visiting mines in Madagascar</p>
        </div>
        <div class="stonebar-container-half">
          <h2>With coloured gemstones, as the name suggests, it's all about the colour: if a stone makes you look twice at it then it may be the stone for you.</h2>
          <p>There are three characteristics you should look for in colour: hue in terms of the overall colour; saturation, meaning the colour needs to be even throughout; and tone, which relates to the lightness and darkness of the colour. Natural impurities in the gem called inclusions are the stone's DNA; inclusions were formed either at the same time as the host material or evolved as the mineral travelled up to the earth's surface. These inclusions give the gem it's unique character.</p>
          <a href="/collections/stone-vault" class="underline_link">Shop Stones</a>
        </div>
        <div class="stonebar-container-half">
          <h2>And For the Investor In You</h2>
          <p>When a stone is being bought as an investment it is advisable to gain a recognised gemmological report which will clarify whether a stone has been treated.  Ideally, especially if buying a ruby, emerald or sapphire it is best to buy a stone that has not been treated, but this will greatly affect the price as unheated or not having undergone any treatment will generate a much higher price. Where appropriate a gemmological report will be included with certain gemstones on the Stone Vault platform.  
            <br><br>
            We are spoilt when we look in high-end jewellery shop windows and see the amazing array of gemstones, for these stones are a very small percentage of what is found in gem deposits as the majority found are not gem quality or suitable for jewellery.</p>
        </div>
        <div class="stonebar-container-half">
          <p class="stonebar_desc_end">Through the Stone Vault I hope to encourage people to explore the wonderful world of gemstones and to inspire creativity, either by designing your own jewel and have it made by one of our recommended goldsmiths or have your favourite jewellery designer/maker turn your gem of choice into a future heirloom
            <br><br>
            Whichever it is, the most important thing is that the stone you choose should make you smile. Being connected to a gemstone that was born millions of years ago is a very special experience. 
          </p>
          <a href="/collections/stone-vault" class="underline_link">Shop Stones</a>
        </div>
      </div>
    </div>
  </div>
  <div class="inner-container stonebar-bottom-wrapper">
    <div class="stonebar-container stonebar-bottom">
      <div class="stonebar-container-half">
        <p>Omnēque’s Stone Vault treasures are selected and vetted by gemmologist Joanna Hardy, Fellow of the Gemmological Association of Great Britain. Joanna’s passion for gemstones  over the past 35 years has never waned, and her curiosity in wanting to see where the stones come from has given her the opportunity to travel around the world to some of the most famous gem deposits. Emeralds from Colombia and Zambia; rubies from Myanmar and Mozambique; sapphire mines in Madagascar, Cambodia and Sri Lanka; pearl farms in UAE and Australia — Joanna has been able to follow the gemstone’s journey and has seen first-hand the exceptional skills required to </p>
        <a href="/collections/stone-vault" class="button_link">Shop Now</a>
      </div>
      <div class="stonebar-container-half">
        <img src="{{'Fire-Opal.jpg' | asset_url}}">
      </div>
    </div>
  </div>
</div> 
