{% comment %}{% section 'jewellery-drops' %}{% endcomment %}

<div class = "drops-heading">
  <h5>The Omnēque Drops</h5>
  <p>Every month our buyers reveal a newly curated drop from the best of the pre-owned jewellery market.<br>
    Revealed the first Thursday of the month at 11 am GMT, our drops are built around seasonal themes tied to the latest fashion and cultural trends.<br> <a href = "/account/register" style = "color:#FF977E;">Sign up</a> to get early bird access.</p>
</div>

{% section 'jewellery-drops-header' %}
{% section 'jewellery-drops-ready' %}
{% comment %}{% section 'jewellery-drops-soon' %}{% endcomment %}
{% section 'jewellery-drops-newsletter' %}
{% section 'jewellery-drops-more' %}

<!-- {% section 'collection-template-boost-pfs-filter' %} -->

<style>
.drops-heading{
  text-align:center;
  padding: 33px 0 50px;
}
.drops-heading h5{ 
  color: #FF977E;
  text-transform: capitalize;
  font-weight: 400;
  display: block;
  margin: 0 0 17px;
  font-size:44px;
  font-family: var(--font-heading), georgia;
}

.drops-heading p{
  font-size: 20px;
  margin: 0 auto;
  color: #000000;
  font-weight: 400;
  line-height: 30px;
  max-width: 939px;
}
@media(max-width: 767px){
  .drops-heading p{
    padding:0 20px;
  }
}
</style>